<h1>メモを書く</h1>

<%= form_tag("/create") do %>
	<% @memo.errors.full_messages.each do |message| %>
        <div class="alert alert-success" role="alert">文字を入力してください</div>
    <% end %>

	<div class="input-group input-group-lg">
		<span class="input-group-addon ">メモ</span>
			<input type="text" name="content" class="form-control" placeholder="メモを書く">
		<span class="input-group-btn">
			<button type="submit" class="btn btn-default">保存</button>
		</span>
	</div>
<% end %>