<h1>メモ詳細</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		メモの内容
	</div>
	<div class="panel-body">
		<%= @memo.content %>
	</div>
</div>

<div class="input-group">
	<span class="input-group-addon">作成日時</span>
	<input type="text" class="form-control" placeholder=<%= @memo.created_at %>>
</div>
<div class="edit-btn">
	<button class="btn btn-default"><%= link_to('編集する',edit_memo_path) %></button>
	<button class="btn btn-default"><%= link_to('削除する',url_for(action: :destroy),{method: "post"}) %></button>
</div>